
.navbar {
  background-color: rgb(23, 54, 54);
  color: #b4c9f3;
  margin: 0;
  padding: 20px;
  font-size: 30px;
}
input {

  padding: 4px;
  margin: 15px;
  
}
.gen {

  background-color:rgb(23, 54, 54);
  color:#b4c9f3;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  
}
.gen:hover {
  background-color:#b4c9f3;
  color:rgb(23, 54, 54);
}
.something {

  position: relative;
  
  
  
}
.upper {

  position: absolute;
  top: 0;
  
}

.lower {

  position: absolute;
  bottom: 0;
  
}

h2 {
  color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  
}

.wrapper {
    
  text-align: center;

}


