
.navbar {
  background-color: rgb(23, 54, 54);
  color: #b4c9f3;
  margin: 0;
  padding: 20px;
  font-size: 30px;
}
input {

  padding: 4px;
  margin: 15px;
  
}
.gen {

  background-color:rgb(23, 54, 54);
  color:#b4c9f3;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  
}
.gen:hover {
  background-color:#b4c9f3;
  color:rgb(23, 54, 54);
}
.something {
  margin: 0 auto;
  
  word-break: break-all;
  white-space: pre-wrap;
 text-align: center;
  position: relative;
  width: 60%;
}
.something img{
  
  width: 100%;
  
}
.upper {

  position: absolute;
  top: 0;
  
  text-align: center;
	
  
}

.lower {

  position: absolute;
  bottom: 0;
  
  text-align: center;
 
  
}

h1 {
  color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  
}

.wrapper {
    
  text-align: center;

}


